<div class="container py-5">
  <div class="row">
    <h3 class="col-lg-6">Companies</h3>
    <span class="col-lg-6 ">
      <%= link_to new_company_path, class: 'float-right' do %>
        <button type="button" class="btn btn-outline-primary">
          + Create a Company
        </button>
      <% end %>
    </span>
  </div>
  <br><br>
  <% if @companies.empty? %>
    <p>No Companies Found</p>
  <% else %>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Color</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'snippet', collection: @companies, as: :company %>
        <tr>
          <td colspan="3">
            <%== pagy_bootstrap_nav(@pagy) %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
